<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Templates</title>
</head>

<body>
  <h1>Welcome to Express Template</h1>
  
  <label class="todo-val" for="input">Enter ToDo:</label>
  <input type="text" id="input">
  <button class="btn" onclick="sendDataToDB()">Click</button>
</body>
<script>
    const sendDataToDB = async ()=> {
        const input = document.querySelector("#input").value
        const data = {
            description:input,
        }
        const sendTheData = await fetch("http://localhost:3001/sendToDo", 
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:  JSON.stringify(data)
        })
        

    }
  // const btn = document.querySelector(".btn");

  // btn.addEventListener("click", event => {
  //   sendDataToDB();
  // })
</script>
</html>