.App {
  position: relative;
  min-height: 100vh;
}

.nav-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.outer-links {
  margin: 20px 20px 0px 20px;
}

.inner-link-left {
  margin: 20px 200px 0px 20px;
  padding-right: 200px;
}

.inner-link-right {
  margin: 20px 20px 0px 300px;
  padding-left: 200px;
}

.outer-links:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.inner-link-left:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.inner-link-right:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 78vh;
  margin-top: 30px;
  padding-top: 30px;
}

.search-input {
  width: 38vw;
  padding: 12px 15px 12px 15px;
  margin: 5px 0px 25px 0px;
  border-radius: 20px;
  border-style: solid;
  border-color: silver;
  border-width: 1px;
  outline: none;
}

.search-input:hover {
  box-shadow: 0px 0px 2.5px 1.5px rgb(199, 199, 199);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-btn {
  margin: 5px 15px 0px 130px;
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 5px;
}

.left-btn:hover {
  border-style: solid;
  border-color: silver;
  border-width: 1px;
  cursor: pointer;
}

.right-btn {
  margin: 5px 130px 0px 15px;
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 5px;
}

.right-btn:hover {
  border-style: solid;
  border-color: silver;
  border-width: 1px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 239, 239);
  padding: 15px 0px 15px 0px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
