* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background-color: lightblue;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
